body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:darkblue;
}

a {
	color:red;
}





.container {
	display:flex;
	flex-wrap:wrap;
}

.item {

}

.item img {
	width:100%;
}

.w1of1 {
	width:100%;
}

.w1of2 {
	width:50%;s
}

.w1of4 {
	width:25%;
}

.w2of4 {
	width:50%;
}

.w3of4 {
	width:75%;
}

.w4of4 {
	width:100%;
}

.w1of3 {
	width:33.33%;
}

.w2of3 {
	width:66.66%;
}

.w3of3 {
	width:100%;
}






/*yellow*/

.yellow{
	
	font-size:100px;
	font-color:white;
	font-family:skia;
}


.header {
	padding-left:200px;
	color:green;
}

/*cyan*/

.cyan {
	background-color:dark;
	font-size:100px;
	padding-bottom:200px;
	font-family:skia;
}

.background {
	background-color:darkblue;
	padding-left:110px;
}




/*red*/
.red {
	background-color:darkblue;
	font-size:160px;
	color:green;
	text-align:center;
	
}




/*green*/
.green {
	padding-left:110px;
	padding-bottom:150px; 
	font-size:160px;
	color:green;
	text-align:center;
}



/*grey*/
.grey {
	background-color:grey;

}

.grey .item {
	padding:20px;
	font-size:160px;
	color:green;
	text-align:center;
}


.controlling {
	background-color:navy;
	font-size:120px;
	font-family:skia;
}



.control {
	font-size:160px;
	color:green;
	text-align:center;
	padding-left:400px;
}

.In {
	font-size:160px;
	color:green;
	text-align:center;
	padding-left:600px;
}



.who {
	font-size:160px;
	color:green;
	text-align:center;
	padding-left:600px;

}






